@import url(/img/coffeebackground.css);

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

#main {
    display: flex;
    min-height: calc(100vh - 8vh);
}

#main>article {
    flex: 1;
    border: dashed white;
}

#main>nav,
#main>aside {
    flex: 0 0 20vw;
    border: dashed white;
}

div#navbox1 {
    width: 17vw;
    height: 85vh;
    background-color: rgb(165, 165, 165);
}

div#box2 {
    width: 200px;
    height: 200px;
    margin-top: 30px;
    border-style: solid;
    color: rgb(102, 85, 85);
}

nav ul li {
    border: solid white;

    list-style: none;
}

a {
    text-decoration: none;
    color: white;
}

#main>nav {
    order: -1;
    /*order of sections (nav, article, aside  )*/
}

div#artbox1 {
    width: 57vw;
    height: 85vh;
    background-color: rgb(165, 165, 165);
}

div#asibox1 {
    width: 17vw;
    height: 85vh;
    background-color: rgb(165, 165, 165);
}

footer,
article,
nav,
aside {
    padding: 1em;
}

header {
    height: 8vh;
    /*the invisible box that gives the space between #main */
}

/*footer {
     background: yellowgreen;
     height: 10vh;
   }*/

/* have coffee background show only in nav and article columns lightly */